name: Release to Cargo

on:
  pull_request:
    types: [ closed ]

jobs:
  cargo-release:
    if: github.event.pull_request.merged == true
    name: Release to Cargo
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - uses: chainguard-dev/actions/setup-gitsign@main

      - uses: actions-ecosystem/action-get-merged-pull-request@v1
        id: get-merged-pull-request
        with:
          github_token: ${{ secrets.GH_PAT }}

      - uses: actions-ecosystem/action-release-label@v1
        id: release-label
        if: ${{ steps.get-merged-pull-request.outputs.title != null }}
        with:
          labels: ${{ steps.get-merged-pull-request.outputs.labels }}

      - name: Install cargo-release
        uses: taiki-e/install-action@v1
        with:
          tool: cargo-release

      - name: Setup Git user
        run: |
          git config --global user.name "Github Bot"
          git config --global user.email "github-bot@railway.app"

      - name: Cargo Release
        if: ${{ steps.release-label.outputs.level != null }}
        run: cargo release -x --no-confirm --sign ${{ steps.release-label.outputs.level }}
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
