name: Create Release

on:
  push:
    branches:
      - master
    # Only run on updates to the version file
    paths:
      - "version"

jobs:
  build:
    name: Build
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: ^1.13
        id: go

      - name: Get dependencies
        run: |
          go get -v -t -d ./...
          if [ -f Gopkg.toml ]; then
              curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh
              dep ensure
          fi

      - name: Build
        run: make build

      - name: Archive asset
        uses: actions/upload-artifact@v2
        with:
          name: railway
          path: bin/railway

  create_release:
    name: Create Github Release
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Download binary
        uses: actions/download-artifact@v2
        with:
          name: railway

      - name: Set version
        id: version
        run: |
          echo "version=$(cat version)" >> $GITHUB_ENV
          echo "Version ${{ env.version }}"

      - name: Create release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
        with:
          tag_name: v${{ env.version }}
          release_name: v${{ env.version }}
          prerelease: false

      - name: Upload release asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: railway.tar.gz
          asset_name: railway-${{ env.version }}.tar.gz
          asset_content_type: application/gzip
