name: Publish

on: [push]

# on:
#   push:
#     tags:
#       - "*"

jobs:
  # release_and_brew:
  #   name: Release and bump Brew
  #   runs-on: ubuntu-latest

  #   steps:
  #     - name: Checkout code
  #       uses: actions/checkout@v2
  #       with:
  #         fetch-depth: 0

  #     - name: Set up Go
  #       uses: actions/setup-go@v2
  #       id: go
  #       with:
  #         go-version: ^1.13

  #     - name: Run GoReleaser
  #       uses: goreleaser/goreleaser-action@v2
  #       with:
  #         version: latest
  #         args: release --rm-dist
  #       env:
  #         GITHUB_TOKEN: ${{ secrets.GH_PAT }}

  publish_npm:
    name: Publish to NPM
    # needs: release_and_brew
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set output
        id: vars
        run: echo ::set-output name=tag::${GITHUB_REF#refs/*/}

      - name: Check output
        env:
          RELEASE_VERSION: ${{ steps.vars.outputs.tag }}
        run: |
          echo $RELEASE_VERSION
          echo ${{ steps.vars.outputs.tag }}

      # - name: Set tag output
      #   id: vars
      #   run: echo ::set-output name=tag::${GITHUB_REF#refs/*/}

      # - name: Show tag output
      #   run: echo "Version ${{ steps.vars.ouputs.tag }}"

      # - name: Use Node.js 12
      #   uses: actions/setup-node@v1
      #   with:
      #     node-version: 12
      #     registry-url: https://registry.npmjs.org/

      # - name: Setup Git user
      #   run: |
      #     git config --global user.name "Github Bot"
      #     git config --global user.email "github-bot@railway.app"

      # - name: Bump NPM version
      #   run: npm version ${{ steps.tag-output.tag }}

      # - name: NPM publish
      #   run: npm publish --access public
      #   env:
      #     NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      # - name: Push changes
      #   run: git push
      #   env:
      #     github-token: ${{ secrets.GITHUB_TOKEN }}
